@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    var dm = ViewBag.Loaisanpham;
}

<div class="container mt-4" style="max-width:650px;">

    <div class="mb-3">
        <label class="form-label">Tên loại sản phẩm</label>
        <input name="Tendm" value="@dm.Tendm" class="form-control" maxlength="50" />
    </div>

    <div class="mb-3">
        <label class="form-label">Mô tả</label>
        <textarea name="Mota" class="form-control" rows="3" maxlength="255">@dm.Mota</textarea>
    </div>

    <form asp-area="Admin" asp-controller="Loaisanpham" asp-action="xoa" method="post" class="mt-3">
        @Html.AntiForgeryToken()
        <input type="hidden" name="Madm" value="@dm.Madm" />

        <button type="submit" class="btn btn-danger">🗑️ Xóa</button>
        <a href="@Url.Action("Index","Loaisanpham", new { area="Admin"})" class="btn btn-secondary">Hủy</a>
    </form>
</div>
